<p class="upBtn"><a href="#logo" title="Back to the top">Up</a></p>
<div id="footer">
  <p>Standards compliant browser is highly recommended, e.g. <a href="http://www.mozilla.com/en-US/firefox/">Firefox</a>, <a href="http://www.apple.com/safari/">Safari</a>, <a href="http://www.google.com/chrome" title="Google Chrome">Chrome</a> or <a href="http://www.opera.com/">Opera</a>.</p>
  <p>Copyright &copy; 2007-2014 <a href="http://www.flashbit.net/" title="obfuscatr is powered by Flashbit">OÜ Flashbit</a>. All rights reserved.</p>
</div>
