<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} | obfuscatr - email address obfuscator</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="Description" content="{{ page.description }}">
  <meta name="Keywords" content="email, address, obfuscate, obfuscator, widget, dashboard, mac, email, spam, Mac OS X, Leopard, Snow Leopard">
  <meta name="Copyright" content="Copyright &copy; 2007-2014 OÜ Flashbit. All rights reserved">
  <link rel="alternate" type="application/rss+xml" title="Changelog of obfuscatr" href="changelog-rss.xml">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="style2.css" type="text/css" media="screen">
</head>
<body>
  <div id="wrapper">
    <div id="logo"><a href="index.html" title="Email address obfuscator">obfuscat<span>r</span></a></div>
    {% include menu.html %}
    {{ content }}
    {% include page-footer.html %}
  </div>
  <div id="ad"><a href="changelog-rss.xml" id="RSSIcon" title="Changelog feed">RSS</a></div>
</body>
</html>
